//-
    name: statistic
    description: Markup for the statistic block
    arguments:
        - {object} data - block data

mixin statistic(data = {})
    .statistic&attributes(attributes)
        .statistic__white
            h1.statistic__title= data.title
            p.statistic__subtitle= data.subtitle
        .statistic__list
            each item in data.list
                .statistic__item
                    .statistic__number!= item.number
                    .statistic__description!= item.description
        .statistic__footnote= data.footnote